/* NOTE element selectors
*/



header {
    display: flex;
    background-color: #061130;
    justify-content: space-between;
}

header>div>img {
    margin: 15px;
}


body {
    color: #f4f6f8;
    margin: 0;

}

main {
    background-color: #061130;
    margin: 0;

}

main>div {
    display: flex;
}

header>section {
    display: flex;
    justify-content: space-around;

}

header>section>* {
    margin: 50px;
}

section>div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin: 25px 100px;
}

/* NOTE class selectors
 */

.yellow {
    color: #fafd61
}

.righty {
    display: flex;
    justify-content: right;
    margin: 10px;
}




.leftyplus {
    display: flex;
    justify-self: left;
    padding-left: 2rem;
    font-size: 2rem;
}


.bottomy {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: black;
    margin: 0;
    padding: 15px;

}

/* NOTE fancy slectors
}